@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.pop_up_container{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', 'sans-serif';
    justify-content: center;
    opacity: 0;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.content_pop_up{
    background-color: aqua;
    justify-content: center; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.pop_up{
    padding: 5px;
}
p{
    font-size: 15px;
}
